@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400&display=swap");

:root {
  --background: rgba(255, 255, 255, 1);
 
}



*,
*::before,
*::after {
  box-sizing: borderbox;
  font-family: "Raleway";
  font-weight: 300;
}

body {
  margin: 0;
  background: #fff;

}
.full{

  padding:0 7% 0 7%;
}

h2 {
  font-size: 4rem;
  color: white;
  letter-spacing: 0.7rem;
  line-height: 0.1rem;
}
h4 {
  color: white;
  text-align: center;
  font-size: 2rem;
  line-height: 0.1rem;
}

.content {
  background-image: url("");
  background-color: #999;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/*---nav style--*/

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding:2% 0 2% 0;
}

.logo {
  margin: 0;
  color: dimgrey;
  text-transform: uppercase;
}

/*  -----nav---------*/

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav li a:hover {
  color: dimgrey;
}

nav a {
  color: dimgrey;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
 
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  transition: opacity 250ms ease-in-out 250ms;
  opacity: 1;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #999;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  opacity:.5;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/*---nav end--*/

/*---transition--*/

@media (min-width: 750px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    padding: 2% 0 2% 0;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 0.6;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;

    background: #999;
    position: absolute;

    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-ease-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav li a:hover {
    color: white;
  }
}
/*------container-------*/

.contents{
 padding:0 12% 0 12%;
}
.hero {
 
 width:100%;
  height: 60vw;
  background-image: radial-gradient(
      rgba(255, 255, 225, 0.6),
      rgba(255, 255, 225, 0)
    ),
    url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  background-repeat: no-repeat;
    background-size: cover;

  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
 
}



/*---GRID---*/

.parent {
display: grid;
grid-template-columns: repeat(2, 48%);
grid-template-rows: repeat(2, 1fr);


  grid-column-gap: 4%;
grid-row-gap: 2%;
  width:100%;
   margin-top:4vw;
  
}




.div1 { grid-area: 1 / 1 / 2 / 2; 
background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;
}
.div2 { grid-area: 1 / 2 / 2 / 3; 
background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;}

.div3 { grid-area: 2 / 1 / 3 / 2;

background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;
}

.div4 { grid-area: 2 / 2 / 3 / 3;

background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;
}
.div5 { grid-area: 3 / 1 / 4 / 2;

background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;

}
.div6 { grid-area: 3 / 2 / 4 / 3; 

background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;
}
.div7 { grid-area: 4 / 1 / 5 / 2; 

background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;
}
.div8 { grid-area: 4 / 2 / 5 / 3;
background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;
}
.div9 { grid-area: 5 / 1 / 6 / 2;
background-image:url("https://revelers.com/wp-content/uploads/2020/05/Revel-architecture-and-Design-Office-Space-1000x600.jpg");
  height:40vw;
width:208%;
 background-repeat: no-repeat;
    background-size: cover;

  background-position: center center;
 
}


.div1:hover,
.div2:hover,
.div3:hover,
.div4:hover,
.div5:hover,
.div6:hover,
.div7:hover,
.div8:hover,
.div9:hover{
      opacity: 0.8;
  transition: all 500ms ease;
     
  
}


@media (min-width:1200px){
  

  
}
}
